{% extends 'base.html.twig' %}

{% block title %}AchievedGoals{% endblock %}

{% block body %}
    <h1>AchievedGoals</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ achieved_goal.id }}</td>
            </tr>
            <tr>
                <th>AchievedGoals</th>
                <td>{{ achieved_goal.achievedGoals }}</td>
            </tr>
            <tr>
                <th>ReasonsAchievement</th>
                <td>{{ achieved_goal.reasonsAchievement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_achieved_goals_index') }}">back to list</a>

    <a href="{{ path('app_achieved_goals_edit', {'id': achieved_goal.id}) }}">edit</a>

    {{ include('achieved_goals/_delete_form.html.twig') }}
{% endblock %}
