
{% block body %}
    {% form_theme form 'form_theme/jquery.collection.html.twig' %}
    {% form_theme form.personalReferences 'formTheme.html.twig' %}

{{ form_start(form) }}

    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-title">Perfil / {{ employee.getFullName }}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Perfil</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-view">
                            <div class="profile-img-wrap">
                                <div class="profile-img">
                                    {{ form_widget(form.imageProfile, {'attr': {'style': 'display: none;'}}) }}
                                    <a href="#" id="imageProfile"><img alt="" src="{% if employee.imageProfile %}{{ employee.imageProfile}}{% else%}{{ asset('assets/img/profiles/avatar-02.jpg') }} {% endif %}" id="imgPreview"></a>
                                </div>
                            </div>
                            {#profile-basic#}
                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-6 profile-info-left">
                                        <div class="row align-items-center">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    {{ form_row(form.firstName) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    {{ form_row(form.secondName) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    {{ form_row(form.lastName) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    {{ form_row(form.motherLastName) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    {{ form_row(form.nationality) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_label(form.documentType) }}  
                                                    {{ form_widget(form.documentType) }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_label(form.document) }}
                                                    {{ form_widget(form.document) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_label(form.expirationDate) }}<span class="text-danger"> *</span>
                                                    <div class="cal-icon">{{ form_widget(form.expirationDate, {'attr': {'class': 'form-control datetimepicker'}}) }}</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    {{ form_label(form.birthDay) }} <span class="text-danger"> *</span>
                                                    <div class="cal-icon">{{ form_widget(form.birthDay, {'attr': {'class': 'form-control datetimepicker'}}) }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="personal-info">
                                            {# Inicio Tabla #}
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ form_row(form.cellPhone) }}
                                                        </div>
                                                        <div class="col-md-12">
                                                            {{ form_row(form.personalEmail) }}
                                                        </div>
                                                        <div class="col-md-12">
                                                            {{ form_row(form.gender) }}
                                                        </div>
                                                        <div class="col-md-12">
                                                            {{ form_row(form.age) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {# fin Tabla #}
                                        </ul>
                                    </div>
                                </div>
                            </div>
{#                            <div class="pro-edit"><a data-bs-target="#profile_info" data-bs-toggle="modal" class="edit-icon" href="{{ path('app_employees_edit', {'id': employee.id}) }}"><i class="fa fa-pencil"></i></a></div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card tab-box">
            <div class="row user-tabs">
                <div class="col-lg-12 col-md-12 col-lg-12 line-tabs">
                    <ul class="nav nav-tabs nav-tabs-bottom">
                        <li class="nav-item"><a href="#emp_profile" data-bs-toggle="tab" class="nav-link active">Profile</a></li>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li class="nav-item"><a href="#emp_document" data-bs-toggle="tab" class="nav-link">Documento</a></li>
                            <li class="nav-item"><a href="#emp_document_banns" data-bs-toggle="tab" class="nav-link">Documentos Amonestaciones</a></li>
                        {% endif %}
                        {#                    <li class="nav-item"><a href="#bank_statutory" data-bs-toggle="tab" class="nav-link">Bank & Statutory <small class="text-danger">(Admin Only)</small></a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <!-- Profile Info Tab -->
            <div id="emp_profile" class="pro-overview tab-pane fade show active">
                <div class="row">
                    {# Personal Information#}
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                                <h3 class="card-title">Personal Informations
                                    {% if employee.id is not empty %}
                                        <a href="{{ path('app_employees_edit', {'id': employee.id}) }}" class="edit-icon" data-bs-target="#personal_info_modal"><i class="fa fa-pencil"></i>
                                        </a>
                                    {% endif %}
                                </h3>
                                <ul class="personal-info">
                                    {# Inicio Tabla #}
                                    <div class="row">
                                        <div class="col-lg-6">{{ form_row(form.birthPlace) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.fullResidenceAddress) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.maritalStatus) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.province) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.district) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.corregimiento) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.residentialTelephone) }}</div>
                                        <div class="col-lg-6">
                                            {{ form_label(form.sportsPractice) }}
                                            {% for child in form.sportsPractice %}
                                                <div class="form-check form-check-inline">
                                                    {{- form_widget(child) -}}
                                                    {{- form_label(child, null) -}}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-lg-6">{{ form_row(form.whatSports) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.favoriteHobby) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.licenseType) }}</div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                {{ form_label(form.expirationDateLicense) }}
                                                <div class="cal-icon">
                                                    {{ form_widget(form.expirationDateLicense) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            {{ form_label(form.hasOwnCar) }}
                                            {% for child in form.hasOwnCar %}
                                                <div class="form-check form-check-inline">
                                                    {{- form_widget(child) -}}
                                                    {{- form_label(child, null) -}}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {# fin Tabla #}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {# Emergency contact#}
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                                <h3 class="card-title">Emergency Contact
                                    {% if employee.id is not empty %}
                                        <a href="{{ path('app_employees_edit', {'id': employee.id}) }}" class="edit-icon" data-bs-target="#emergency_contact_modal"><i class="fa fa-pencil"></i>
                                        </a>
                                    {% endif %}
                                </h3>
                                <h5 class="section-title">Primary</h5>
                                <ul class="personal-info">
                                    {# Inicio Tabla #}
                                    <div class="row">
                                        <div class="col-md-12">{{ form_row(form.inCaseOfEmergency) }}</div>
                                        <div class="col-md-12">{{ form_row(form.familyPhoneNumber) }}</div>
                                        <div class="col-lg-6">
                                            {{ form_label(form.allergic) }}
                                            {% for child in form.allergic %}
                                                <div class="form-check form-check-inline">
                                                    {{- form_widget(child) -}}
                                                    {{- form_label(child, null) -}}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-12">{{ form_row(form.allergicYes) }}</div>
                                        <div class="col-lg-6">
                                            {{ form_label(form.chronicDisease) }}
                                            {% for child in form.chronicDisease %}
                                                <div class="form-check form-check-inline">
                                                    {{- form_widget(child) -}}
                                                    {{- form_label(child, null) -}}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-12">{{ form_row(form.chronicDiseaseYes) }}</div>
                                        <div class="col-md-12">{{ form_row(form.bloodType) }}</div>
                                        <div class="col-md-12">
                                            {{ form_label(form.bloodDonor) }}
                                            {% for child in form.bloodDonor %}
                                                <div class="form-check form-check-inline">
                                                    {{- form_widget(child) -}}
                                                    {{- form_label(child, null) -}}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {# fin Tabla #}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {#bank Information#}
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                                <h3 class="card-title">Bank information</h3>
                                <div class="personal-info">
                                    {# Inicio Tabla #}
                                    <div class="row">
                                        <div class="col-lg-6">{{ form_row(form.bank) }}</div>
                                        <div class="col-lg-6">
                                            {{ form_label(form.bankAccount) }}
                                            {% for child in form.bankAccount %}
                                                <div class="form-check form-check-inline">
                                                    {{- form_widget(child) -}}
                                                    {{- form_label(child, null) -}}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-12">{{ form_row(form.accountNumber) }}</div>

                                    </div>
                                    {# fin Tabla #}
                                    {{ form_label(form.financialProfile) }}
                                    {{ form_widget(form.financialProfile) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {#Información Laboral ALEPH GROUP#}
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                                <h3 class="card-title">Información Laboral ALEPH GROUP</h3>
                                <ul class="personal-info">
                                    {# Inicio Tabla #}
                                    <div class="row">
                                        <div class="col-lg-6">{{ form_row(form.employeeType) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.companyPosition) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.placeWork) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.companyDepartment) }}</div>
                                        <div class="col-md-12">
                                            {{ form_label(form.familyCompany) }}
                                            {% for child in form.familyCompany %}
                                                <div class="form-check form-check-inline">
                                                    {{- form_widget(child) -}}
                                                    {{- form_label(child, null) -}}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-12">{{ form_row(form.familyCompanyText) }}</div>
                                        <div class="col-md-12">
                                            {{ form_label(form.dateJoiningCompany) }}
                                            <div class="cal-icon">{{ form_widget(form.dateJoiningCompany) }}</div>
                                        </div>
                                    </div>
                                    {# fin Tabla #}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    {#Education Informations#}
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                                <h3 class="card-title">Education Informations
                                    {% if employee.id is not empty %}
                                        <a href="{{ path('app_employees_edit', {'id': employee.id}) }}" class="edit-icon"  data-bs-target="#education_info"><i class="fa fa-pencil"></i>
                                        </a>
                                    {% endif %}
                                </h3>
                                {{ form_row(form.studiesCurrently) }}
                                {{ form_row(form.educationLevel) }}
                                {{ form_row(form.language) }}
                            </div>
                        </div>
                    </div>
                    {#INFORMACIÓN PATRIMONIAL#}
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                                <h3 class="card-title">INFORMACIÓN PATRIMONIALINFORMACIÓN PATRIMONIAL
                                    {% if employee.id is not empty %}
                                        <a href="{{ path('app_employees_edit', {'id': employee.id}) }}" class="edit-icon" data-bs-target="#experience_info"><i class="fa fa-pencil"></i>
                                        </a>
                                    {% endif %}
                                </h3>
                                {{ form_row(form.property) }}
                                {{ form_row(form.vehicleFeatures) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {#Referencias personales#}
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                                <h3 class="card-title">Referencias personales
                                    {% if employee.id is not empty %}
                                        <a href="{{ path('app_employees_edit', {'id': employee.id}) }}" class="edit-icon" data-bs-target="#family_info_modal"><i class="fa fa-pencil"></i>
                                        </a>
                                    {% endif %}
                                </h3>
                                {{ form_row(form.personalReferences) }}
                            </div>
                        </div>
                    </div>
                    {#Información de Nucleo Familiar#}
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                                <h3 class="card-title">Family Informations
                                    {% if employee.id is not empty %}
                                        <a href="{{ path('app_employees_edit', {'id': employee.id}) }}" class="edit-icon" data-bs-target="#family_info_modal"><i class="fa fa-pencil"></i>
                                        </a>
                                    {% endif %}
                                </h3>
                                {{ form_row(form.familyNucleus) }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    {#Información Laboral#}
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                                <h3 class="card-title">Información Laboral
                                    {% if employee.id is not empty %}
                                        <a href="{{ path('app_employees_edit', {'id': employee.id}) }}" class="edit-icon" data-bs-target="#family_info_modal"><i class="fa fa-pencil"></i>
                                        </a>
                                    {% endif %}
                                </h3>
                                {{ form_row(form.workingInformation) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Profile Info Tab -->

            {% if 'ROLE_ADMIN' in app.user.roles %}
                <!-- /Document Info Tab -->
                <div id="emp_document" class="pro-overview tab-pane fade ">
                    <div class="profile-img">
                        <div class="form-group">
                            {{ form_widget (form.documentAll, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        {% if employee.id is not empty %}
                            <div class="chat-body">
                                <div class="chat-bubble">
                                    <div class="chat-content">
                                        <span class="file-attached">Attached {{ blobsDocument|length }} files <i class="fa fa-paperclip"></i></span><br>

                                            {% for blob in blobsDocument %}
                                                <br><span class="chat-time">Date Upload:  {{ blob.properties.creationTime|date('d-m-Y') }}</span>
                                                <ul class="attach-list">
                                                    {% set replace_value_var= employee.employeeFolderName~"/" %}
                                                    {% set blobName=  blob.name|replace({ (replace_value_var): '' })  %}
                                                    <li class="pdf-file">
                                                        <i class="fa fa-file"></i>
                                                        <a href="{{ blob.url }}">
                                                            {{ blobName}}
                                                        </a>

                                                        <a href="{{ path('app_blobs_delete_employee', {'blobName': blobName, 'blobFolderName': employee.employeeFolderName, 'employeeId': employee.id}) }}"> <i class="fa fa-trash"></i></a>

                                                    </li>
                                                </ul>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                    </div>
                </div>
                <!-- /Document Info Tab -->

                <!-- /Document banns Info Tab -->
                <div id="emp_document_banns" class="pro-overview tab-pane fade ">
                    <div class="profile-img">
                        <div class="form-group">
                            {{ form_widget (form.documentBannsAll, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        {% if employee.id is not empty %}
                            <div class="chat-body">
                                <div class="chat-bubble">
                                    <div class="chat-content">
                                        <span class="file-attached">Attached {{ blobsDocumentBanns|length }} files <i class="fa fa-paperclip"></i></span><br>

                                        {% for blobBanns in blobsDocumentBanns %}
                                            <br><span class="chat-time">Date Upload:  {{ blobBanns.properties.creationTime|date('d-m-Y') }}</span>
                                            <ul class="attach-list">
                                                {% set replace_value_var= banns~"-"~employee.employeeFolderName~"/" %}
                                                {% set blobNameBanns=  blobBanns.name|replace({ (replace_value_var): '' })  %}
                                                <li class="pdf-file">
                                                    <i class="fa fa-file"></i>
                                                    <a href="{{ blobBanns.url }}">
                                                        {{ blobNameBanns}}
                                                    </a>

                                                    <a href="{{ path('app_blobs_delete_employee', {'blobName': blobNameBanns, 'blobFolderName': employee.employeeFolderName, 'employeeId': employee.id}) }}"> <i class="fa fa-trash"></i></a>

                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- /Document banns Info Tab -->
            {% endif %}

        </div>
    </div>





    <button class="btn btn-primary submit-btn">{{ button_label|default('Save') }}</button>

{#    {{ form_end(form, {render_rest: false}) }}#}
{#    {{ form_rest(form) }}#}
    {{ form_end(form) }}


{% endblock %}


