{% extends 'base.html.twig' %}

{% block title %}UnfulfilledGoals index{% endblock %}

{% block body %}
    <h1>UnfulfilledGoals index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UnfulfilledGoals</th>
                <th>ReasonsForNonAchievement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unfulfilled_goal in unfulfilled_goals %}
            <tr>
                <td>{{ unfulfilled_goal.id }}</td>
                <td>{{ unfulfilled_goal.unfulfilledGoals }}</td>
                <td>{{ unfulfilled_goal.reasonsForNonAchievement }}</td>
                <td>
                    <a href="{{ path('app_unfulfilled_goals_show', {'id': unfulfilled_goal.id}) }}">show</a>
                    <a href="{{ path('app_unfulfilled_goals_edit', {'id': unfulfilled_goal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_unfulfilled_goals_new') }}">Create new</a>
{% endblock %}
